/* body {
  background: #093252;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
 */

body {
  background: #093252;
  color: #fff;
  font-family: Arial, sans-serif;
}

h1 {
  color: #fff;
}